@font-face {
	font-family : 'unifont';
	src         : url('unifont.ttf') format('truetype');
}

body {
	font-family      : 'unifont', monospace;
	background-color : #474747;
	color            : white;
}

.col-3, .col-6, .col-9, .col-12 {
	display : inline-block;
}

.col-12 {
	width : 100%;
}

.col-9 {
	width : 74%;
}

.col-6 {
	width : 49%;
}

.col-3 {
	width : 24%;
}

a,
a:visited {
	color : lightskyblue;
}

a:hover {
	color : deepskyblue;
}

.main-container {
	float       : left;
	margin-left : 5px;
	padding     : 10px;
}

.container {
	margin-bottom : 10px;
}

.screen_container {
	position : absolute;
	top      : 9px;
	left     : 9px;
	bottom   : 9px;
	right    : 9px;
	width    : auto;
	height   : auto;
}

.screen {
	position       : relative;
	/*top            : 9px;*/
	/*left           : 9px;*/
	/*width          : 1300px;*/
	pointer-events : none;
	cursor         : none;
}

.pixel_container, .pixel_select_container {
	position : absolute;
	top      : 0;
	left     : 0;
}

.row {
	position       : relative;
	margin-bottom  : -3px;
	pointer-events : none;
}

.pixel {
	position : relative;
	display  : inline-block;
	width    : .5em;
	height   : 1em;
}

.display_pixel {
	background-color : black;
}

.select_pixel {
	background-color : transparent;
	pointer-events   : all;
}

.select_pixel:hover {
	background-color : rgba(255, 255, 255, 0.5);
}

.pixel_content {
	position : absolute;
}

.coordinate {
	position : relative;
	display  : inline-block;
	width    : .5em;
	height   : 1em;
	color    : white;
}

.shape {
	position         : absolute;
	z-index          : 1000;
	pointer-events   : none;
	background-color : rgba(255, 255, 255, 1);
}

.color-row {
	height : 15px;
}

.color-cube {
	display : inline-block;
	width   : 15px;
	height  : 15px;
	cursor  : pointer;
}

.button {
	cursor : pointer;
}

.button:hover {
	color : black;
}

.msg_box {
	font-weight : bold;
	font-size   : 14pt;
}

.monitor {
	position         : relative;
	width            : 418px;
	height           : 274px;
	background-color : #0d0d0d;
}

.monitor_part {
	position        : absolute;
	background-size : 75px;
	image-rendering : pixelated;
}

.monitor_top {
	background-image : url('screen/ftm.png');
	top              : 0;
	left             : 0;

	width            : 100%;
	height           : 75px;
}

.monitor_bottom {
	background-image : url('screen/fbm.png');
	bottom           : 0;
	left             : 0;

	width            : 100%;
	height           : 75px;
}

.monitor_left {
	background-image : url('screen/fml.png');
	left             : 0;
	top              : 0;

	height           : 100%;
	width            : 75px;
}

.monitor_right {
	background-image : url('screen/fmr.png');
	right            : 0;
	top              : 0;

	height           : 100%;
	width            : 75px;
}

.monitor_top_left {
	background-image : url('screen/ftl.png');
	top              : 0;
	left             : 0;

	width            : 75px;
	height           : 75px;
}

.monitor_top_right {
	background-image : url('screen/ftr.png');
	top              : 0;
	right            : 0;

	width            : 75px;
	height           : 75px;
}

.monitor_bottom_left {
	background-image : url('screen/fbl.png');
	bottom           : 0;
	left             : 0;

	width            : 75px;
	height           : 75px;
}

.monitor_bottom_right {
	background-image : url('screen/fbr.png');
	bottom           : 0;
	right            : 0;

	width            : 75px;
	height           : 75px;
}

.shape_container {
	position       : absolute;
	top            : 0;
	left           : 0;
	z-index        : 1000;
	pointer-events : all;
}

.del_button {
	color       : red;
	font-weight : bold;
	margin-left : 4px;
}

.context_menu {
	position         : fixed;
	top              : 0;
	left             : 0;

	width            : 270px;

	background-color : black;
	color            : white;
}

.context_item_title {
	font-weight: bold;
	margin-left: 2px;
}

.context_item {
	cursor : pointer;
	margin-left: 4px;
}

.context_item:nth-child(2n) {
	background-color : #0d0d0d;
}

.context_item:hover {
	background-color : white;
	color            : black;
}

.console {
	background-color : black;
	border           : 1px solid white;
	padding          : 5px;
}

.grid_rows, .grid_columns {
	position       : absolute;
	top            : 0;
	left           : 0;

	width          : 100%;
	height         : 100%;
	pointer-events : none;
	overflow       : hidden;
}

.grid_border {
	border-color : rgba(255, 255, 255, 0.2);
}

.grid_column {
	position           : relative;
	width              : 8px;
	height             : 1000px;
	border-right-width : 1px;
	border-right-style : solid;
	display            : inline-block;
	margin-left        : -1px;
}

.grid_column:nth-child(1) {
	margin-left : 0;
}

.grid_row {
	position            : relative;
	width               : 1000px;
	height              : 16px;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	margin-top          : -1px;
}

.grid_row:nth-child(1) {
	height     : 8px;
	margin-top : 0;
}

.grid_coordinate_row {
	position : absolute;
	left     : -16px;
}

.grid_coordinate_column {
	position : absolute;
	top      : -16px;
}

.grid_coordinate_container_columns {
	position : absolute;
	top      : 0;
	left     : 0;
}