@font-face {
	font-family : 'unifont';
	src         : url('unifont.ttf') format('truetype');
}

body {
	font-family      : 'unifont', monospace;
	background-color : #474747;
	color            : white;
}

a,
a:visited {
	color : lightskyblue;
}

a:hover {
	color : deepskyblue;
}

.main-container {
	float       : left;
	margin-left : 5px;
}

.container {
	margin-bottom : 10px;
}

.monitor_container {
	position : absolute;
	top      : 9px;
	left     : 9px;
	bottom   : 9px;
	right    : 9px;
	width    : auto;
	height   : auto;
}

.monitor {
	position       : relative;
	top            : 9px;
	left           : 9px;
	/*width          : 1300px;*/
	pointer-events : none;
}

.row {
	position       : relative;
	margin-bottom  : -3px;
	pointer-events : none;
}

.pixel {
	position         : relative;
	display          : inline-block;
	background-color : black;
	width            : .5em;
	height           : 1em;
	pointer-events   : all;
}

.coordinate {
	position : relative;
	display  : inline-block;
	width    : .5em;
	height   : 1em;
	color    : white;
}

.pixel:hover {
	background-color : white !important;
}

.pixel:focus {
	background-color : yellow !important;
}

.shape {
	position : absolute;
}

.shape:hover {
	background-color : white !important;
}

.color-row {
	height : 15px;
}

.color-cube {
	display : inline-block;
	width   : 15px;
	height  : 15px;
	cursor  : pointer;
}

.button {
	cursor : pointer;
}

.button:hover {
	color : black;
}

.msg_box {
	font-weight : bold;
	font-size   : 14pt;
}

.screen {
	position         : relative;
	width            : 418px;
	height           : 274px;
	background-color : #0d0d0d;
}

.screen_part {
	position        : absolute;
	background-size : 75px;
	image-rendering : pixelated;
}

.screen_top {
	background-image : url('screen/ftm.png');
	top              : 0;
	left             : 0;

	width            : 100%;
	height           : 75px;
}

.screen_bottom {
	background-image : url('screen/fbm.png');
	bottom           : 0;
	left             : 0;

	width            : 100%;
	height           : 75px;
}

.screen_left {
	background-image : url('screen/fml.png');
	left             : 0;
	top              : 0;

	height           : 100%;
	width            : 75px;
}

.screen_right {
	background-image : url('screen/fmr.png');
	right            : 0;
	top              : 0;

	height           : 100%;
	width            : 75px;
}

.screen_top_left {
	background-image : url('screen/ftl.png');
	top              : 0;
	left             : 0;

	width            : 75px;
	height           : 75px;
}

.screen_top_right {
	background-image : url('screen/ftr.png');
	top              : 0;
	right            : 0;

	width            : 75px;
	height           : 75px;
}

.screen_bottom_left {
	background-image : url('screen/fbl.png');
	bottom           : 0;
	left             : 0;

	width            : 75px;
	height           : 75px;
}

.screen_bottom_right {
	background-image : url('screen/fbr.png');
	bottom           : 0;
	right            : 0;

	width            : 75px;
	height           : 75px;
}